In [18]:
import pandas as pd

In [19]:
data_set=pd.read_csv("C:/Users/LENOVO/Desktop/books.csv")
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1354 entries, 0 to 1353
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    1354 non-null   int64
 1   goodreads_book_id          1354 non-null   int64
 2   best_book_id               1354 non-null   int64
 3   work_id                    1354 non-null   int64
 4   books_count                1354 non-null   int64
 5   isbn                       1302 non-null   object
 6   isbn13                     1310 non-null   float64
 7   authors                    1354 non-null   object
 8   original_publication_year  1351 non-null   float64
 9   original_title             1302 non-null   object
 10  title                      1354 non-null   object
 11  language_code              1245 non-null   object
 12  average_rating             1354 non-null   float64
 13  ratings_count              1354 non-null   int64
 14  work_ratings_count         1354 non-null   int64
 15  work_text_reviews_count    1354 non-null   int64
 16  ratings_1                  1354 non-null   int64
 17  ratings_2                  1354 non-null   int64
 18  ratings_3                  1354 non-null   int64
 19  ratings_4                  1354 non-null   int64
 20  ratings_5                  1354 non-null   int64
 21  image_url                  1354 non-null   object
 22  small_image_url            1354 non-null   object
dtypes: float64(3), int64(13), object(7)
memory usage: 243.4+ KB

In [20]:
data_set.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,1354.000000,1.354000e+03,1.354000e+03,1.354000e+03,1354.000000,1.310000e+03,1351.000000,1354.000000,1.354000e+03,1.354000e+03,1354.000000,1354.000000,1354.000000,1354.000000,1.354000e+03,1.354000e+03
mean,4453.584195,5.951852e+06,6.120589e+06,8.707028e+06,50.330871,9.766700e+12,2003.422650,3.999357,9.160429e+04,9.915569e+04,5151.093058,2297.409158,5005.615953,17528.918021,3.060591e+04,4.371784e+04
std,2894.277455,6.664595e+06,6.935008e+06,9.813696e+06,61.338867,3.572069e+11,16.779301,0.224263,2.871266e+05,3.023637e+05,10730.335273,13708.507239,16259.838433,43549.306920,8.427851e+04,1.610638e+05
min,1.000000,1.000000e+00,1.000000e+00,1.150000e+02,1.000000,7.678361e+10,1868.000000,3.230000,6.221000e+03,8.833000e+03,49.000000,33.000000,133.000000,826.000000,1.660000e+03,2.005000e+03
25%,1860.250000,1.537868e+05,1.537962e+05,1.375035e+06,22.000000,9.780152e+12,2003.000000,3.850000,1.759325e+04,1.918150e+04,1162.500000,306.000000,978.000000,4140.500000,6.360500e+03,6.981500e+03
50%,4177.500000,3.305318e+06,3.422646e+06,4.005716e+06,37.000000,9.780440e+12,2008.000000,4.000000,2.943000e+04,3.255150e+04,2208.000000,619.000000,1732.500000,6557.000000,1.079550e+04,1.182650e+04
75%,6814.500000,9.917380e+06,1.019388e+07,1.435717e+07,58.000000,9.780805e+12,2011.000000,4.160000,6.073800e+04,6.681275e+04,4690.750000,1355.000000,3644.500000,13312.250000,2.227500e+04,2.612400e+04
max,9955.000000,3.207567e+07,3.360215e+07,4.963819e+07,1314.000000,9.788424e+12,2017.000000,4.740000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [21]:
data_set.isnull().sum()

book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                          52
isbn13                        44
authors                        0
original_publication_year      3
original_title                52
title                          0
language_code                109
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
dtype: int64

In [22]:
print(data_set)

      book_id  goodreads_book_id  best_book_id   work_id  books_count  \
0           1            2767052       2767052   2792775          272
1           2                  3             3   4640799          491
2           3              41865         41865   3212258          226
3           6           11870085      11870085  16827462          226
4          12           13335037      13335037  13155899          210
...       ...                ...           ...       ...          ...
1349     9925              86737         86737   3877968           52
1350     9937           13010211      13010211  18171867           22
1351     9942           16074758      16074758  21869436           18
1352     9947           21393526      21393526  40690062           19
1353     9955           13065327      13065327  18230950           25

            isbn        isbn13                      authors  \
0      439023483  9.780439e+12              Suzanne Collins
1      439554934  9.780440e+12  J.K. Rowling, Mary GrandPré
2      316015849  9.780316e+12              Stephenie Meyer
3      525478817  9.780525e+12                   John Green
4       62024035  9.780062e+12                Veronica Roth
...          ...           ...                          ...
1349  1582349177  9.781582e+12                 Mary Hoffman
1350  1596435712  9.781596e+12            Caragh M. O'Brien
1351  1442486597  9.781442e+12  Abigail Haas, Abby McDonald
1352    62320521  9.780062e+12        Maria Dahvana Headley
1353   802734375  9.780803e+12               Simone Elkeles

      original_publication_year                            original_title  \
0                        2008.0                          The Hunger Games
1                        1997.0  Harry Potter and the Philosopher's Stone
2                        2005.0                                  Twilight
3                        2012.0                    The Fault in Our Stars
4                        2011.0                                 Divergent
...                         ...                                       ...
1349                     2002.0                             City of Masks
1350                     2012.0                                  Promised
1351                     2013.0                           Dangerous Girls
1352                     2015.0                                   Magonia
1353                     2013.0                                Wild Cards

      ... ratings_count work_ratings_count  work_text_reviews_count  \
0     ...       4780653            4942365                   155254
1     ...       4602479            4800065                    75867
2     ...       3866839            3916824                    95009
3     ...       2346404            2478609                   140739
4     ...       1903563            2216814                   101023
...   ...           ...                ...                      ...
1349  ...         12048              13385                      555
1350  ...         11766              12884                     1260
1351  ...         10439              12970                     2631
1352  ...         12510              13652                     2910
1353  ...         13954              15400                     1514

      ratings_1  ratings_2  ratings_3  ratings_4  ratings_5  \
0         66715     127936     560092    1481305    2706317
1         75504     101676     455024    1156318    3011543
2        456191     436802     793319     875073    1355439
3         47994      92723     327550     698471    1311871
4         36315      82870     310297     673028    1114304
...         ...        ...        ...        ...        ...
1349        314        758       3154       4872       4287
1350        256       1098       3565       4392       3573
1351        203        553       2029       4567       5618
1352        577       1440       3881       4772       2982
1353        406        965       3331       5038       5660

                                              image_url  \
0     https://images.gr-assets.com/books/1447303603m...
1     https://images.gr-assets.com/books/1474154022m...
2     https://images.gr-assets.com/books/1361039443m...
3     https://images.gr-assets.com/books/1360206420m...
4     https://images.gr-assets.com/books/1328559506m...
...                                                 ...
1349  https://images.gr-assets.com/books/1294870497m...
1350  https://images.gr-assets.com/books/1330546217m...
1351  https://images.gr-assets.com/books/1356513050m...
1352  https://images.gr-assets.com/books/1413479866m...
1353  https://images.gr-assets.com/books/1420836321m...

                                        small_image_url
0     https://images.gr-assets.com/books/1447303603s...
1     https://images.gr-assets.com/books/1474154022s...
2     https://images.gr-assets.com/books/1361039443s...
3     https://images.gr-assets.com/books/1360206420s...
4     https://images.gr-assets.com/books/1328559506s...
...                                                 ...
1349  https://images.gr-assets.com/books/1294870497s...
1350  https://images.gr-assets.com/books/1330546217s...
1351  https://images.gr-assets.com/books/1356513050s...
1352  https://images.gr-assets.com/books/1413479866s...
1353  https://images.gr-assets.com/books/1420836321s...

[1354 rows x 23 columns]

In [23]:
data_set['original_title'].fillna('empty', inplace=True)

In [24]:
harry_potter = data_set[data_set['original_title'].str.contains('Harry Potter', case=False)]
print(harry_potter)

      book_id  goodreads_book_id  best_book_id   work_id  books_count  \
1           2                  3             3   4640799          491
6          18                  5             5   2402163          376
8          21                  2             2   2809203          307
9          23              15881         15881   6231171          398
10         24                  6             6   3046572          332
11         25             136251        136251   2963218          263
12         27                  1             1  41335427          275
96        422             862041        862041   2962492           76
613      3753                 10            10  21457570            6
1036     7018             483445        483445    471792           42

            isbn        isbn13                                  authors  \
1      439554934  9.780440e+12              J.K. Rowling, Mary GrandPré
6     043965548X  9.780440e+12  J.K. Rowling, Mary GrandPré, Rufus Beck
8      439358078  9.780439e+12              J.K. Rowling, Mary GrandPré
9      439064864  9.780439e+12              J.K. Rowling, Mary GrandPré
10     439139600  9.780439e+12              J.K. Rowling, Mary GrandPré
11     545010225  9.780545e+12              J.K. Rowling, Mary GrandPré
12     439785960  9.780440e+12              J.K. Rowling, Mary GrandPré
96     545044251  9.780545e+12                             J.K. Rowling
613    439827604  9.780440e+12                             J.K. Rowling
1036  042519891X  9.780425e+12                            David Colbert

      original_publication_year  \
1                        1997.0
6                        1999.0
8                        2003.0
9                        1998.0
10                       2000.0
11                       2007.0
12                       2005.0
96                       1998.0
613                      2005.0
1036                     2001.0

                                         original_title  ... ratings_count  \
1              Harry Potter and the Philosopher's Stone  ...       4602479
6              Harry Potter and the Prisoner of Azkaban  ...       1832823
8             Harry Potter and the Order of the Phoenix  ...       1735368
9               Harry Potter and the Chamber of Secrets  ...       1779331
10                  Harry Potter and the Goblet of Fire  ...       1753043
11                 Harry Potter and the Deathly Hallows  ...       1746574
12               Harry Potter and the Half-Blood Prince  ...       1678823
96                      Complete Harry Potter Boxed Set  ...        190050
613        Harry Potter Collection (Harry Potter, #1-6)  ...         24618
1036  The Magical Worlds of Harry Potter: A Treasury...  ...         13820

     work_ratings_count  work_text_reviews_count  ratings_1  ratings_2  \
1               4800065                    75867      75504     101676
6               1969375                    36099       6716      20413
8               1840548                    28685       9528      31577
9               1906199                    34172       8253      42251
10              1868642                    31084       6676      20210
11              1847395                    51942       9363      22245
12              1785676                    27520       7308      21516
96               204125                     6508       1105       1285
613               26274                      882        203        186
1036              15145                      267        329       1125

      ratings_3  ratings_4  ratings_5  \
1        455024    1156318    3011543
6        166129     509447    1266670
8        180210     494427    1124806
9        242345     548266    1065084
10       151785     494926    1195045
11       113646     383914    1318227
12       136333     459028    1161491
96         7020      30666     164049
613         946       3891      21048
1036       3766       3593       6332

                                              image_url  \
1     https://images.gr-assets.com/books/1474154022m...
6     https://images.gr-assets.com/books/1499277281m...
8     https://images.gr-assets.com/books/1387141547m...
9     https://images.gr-assets.com/books/1474169725m...
10    https://images.gr-assets.com/books/1361482611m...
11    https://images.gr-assets.com/books/1474171184m...
12    https://images.gr-assets.com/books/1361039191m...
96    https://images.gr-assets.com/books/1392579059m...
613   https://images.gr-assets.com/books/1328867351m...
1036  https://s.gr-assets.com/assets/nophoto/book/11...

                                        small_image_url
1     https://images.gr-assets.com/books/1474154022s...
6     https://images.gr-assets.com/books/1499277281s...
8     https://images.gr-assets.com/books/1387141547s...
9     https://images.gr-assets.com/books/1474169725s...
10    https://images.gr-assets.com/books/1361482611s...
11    https://images.gr-assets.com/books/1474171184s...
12    https://images.gr-assets.com/books/1361039191s...
96    https://images.gr-assets.com/books/1392579059s...
613   https://images.gr-assets.com/books/1328867351s...
1036  https://s.gr-assets.com/assets/nophoto/book/50...

[10 rows x 23 columns]

In [25]:
harry_potter.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10.000000,10.000000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000,10.000000,1.000000e+01,1.000000e+01,10.000000,10.000000,10.000000,10.000000,1.000000e+01,1.000000e+01
mean,1133.300000,149764.500000,149764.500000,8.832041e+06,256.600000,9.780459e+12,2001.300000,4.491000,1.535693e+06,1.626344e+06,29302.600000,12498.500000,26248.400000,145720.400000,4.084476e+05,1.033430e+06
std,2372.878142,292756.296154,292756.296154,1.286720e+07,163.050231,4.547325e+07,3.497618,0.220829,1.338120e+06,1.399453e+06,23399.455664,22434.449023,29844.676198,136672.041798,3.459903e+05,8.778751e+05
min,2.000000,1.000000,1.000000,4.717920e+05,6.000000,9.780425e+12,1997.000000,3.960000,1.382000e+04,1.514500e+04,267.000000,203.000000,186.000000,946.000000,3.593000e+03,6.332000e+03
25%,21.500000,3.500000,3.500000,2.847525e+06,122.750000,9.780439e+12,1998.250000,4.445000,5.622432e+05,5.995128e+05,11761.000000,2497.750000,6016.250000,33676.500000,1.189780e+05,3.893078e+05
50%,24.500000,8.000000,8.000000,3.004895e+06,291.000000,9.780440e+12,2000.500000,4.530000,1.740971e+06,1.843972e+06,29884.500000,7012.000000,20964.500000,144059.000000,4.767275e+05,1.143148e+06
75%,323.250000,106158.500000,106158.500000,5.833578e+06,365.000000,9.780440e+12,2004.500000,4.592500,1.772759e+06,1.896810e+06,35617.250000,9085.500000,29244.000000,176689.750000,5.058168e+05,1.248764e+06
max,7018.000000,862041.000000,862041.000000,4.133543e+07,491.000000,9.780545e+12,2007.000000,4.740000,4.602479e+06,4.800065e+06,75867.000000,75504.000000,101676.000000,455024.000000,1.156318e+06,3.011543e+06

In [26]:
Hp=harry_potter[['books_count','average_rating','ratings_count','work_ratings_count','work_text_reviews_count','ratings_1','ratings_2','ratings_3','ratings_4','ratings_5']]
print(Hp)

      books_count  average_rating  ratings_count  work_ratings_count  \
1             491            4.44        4602479             4800065
6             376            4.53        1832823             1969375
8             307            4.46        1735368             1840548
9             398            4.37        1779331             1906199
10            332            4.53        1753043             1868642
11            263            4.61        1746574             1847395
12            275            4.54        1678823             1785676
96             76            4.74         190050              204125
613             6            4.73          24618               26274
1036           42            3.96          13820               15145

      work_text_reviews_count  ratings_1  ratings_2  ratings_3  ratings_4  \
1                       75867      75504     101676     455024    1156318
6                       36099       6716      20413     166129     509447
8                       28685       9528      31577     180210     494427
9                       34172       8253      42251     242345     548266
10                      31084       6676      20210     151785     494926
11                      51942       9363      22245     113646     383914
12                      27520       7308      21516     136333     459028
96                       6508       1105       1285       7020      30666
613                       882        203        186        946       3891
1036                      267        329       1125       3766       3593

      ratings_5
1       3011543
6       1266670
8       1124806
9       1065084
10      1195045
11      1318227
12      1161491
96       164049
613       21048
1036       6332

In [27]:
bestselling_book = Hp.loc[Hp['books_count'].idxmax()]

print(bestselling_book)

books_count                    491.00
average_rating                   4.44
ratings_count              4602479.00
work_ratings_count         4800065.00
work_text_reviews_count      75867.00
ratings_1                    75504.00
ratings_2                   101676.00
ratings_3                   455024.00
ratings_4                  1156318.00
ratings_5                  3011543.00
Name: 1, dtype: float64

In [30]:
print("The best seller book",harry_potter.loc[1, 'original_title'])

The best seller book Harry Potter and the Philosopher's Stone

In [31]:
Hp.describe()

,books_count,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10.000000,10.000000,1.000000e+01,1.000000e+01,10.000000,10.000000,10.000000,10.000000,1.000000e+01,1.000000e+01
mean,256.600000,4.491000,1.535693e+06,1.626344e+06,29302.600000,12498.500000,26248.400000,145720.400000,4.084476e+05,1.033430e+06
std,163.050231,0.220829,1.338120e+06,1.399453e+06,23399.455664,22434.449023,29844.676198,136672.041798,3.459903e+05,8.778751e+05
min,6.000000,3.960000,1.382000e+04,1.514500e+04,267.000000,203.000000,186.000000,946.000000,3.593000e+03,6.332000e+03
25%,122.750000,4.445000,5.622432e+05,5.995128e+05,11761.000000,2497.750000,6016.250000,33676.500000,1.189780e+05,3.893078e+05
50%,291.000000,4.530000,1.740971e+06,1.843972e+06,29884.500000,7012.000000,20964.500000,144059.000000,4.767275e+05,1.143148e+06
75%,365.000000,4.592500,1.772759e+06,1.896810e+06,35617.250000,9085.500000,29244.000000,176689.750000,5.058168e+05,1.248764e+06
max,491.000000,4.740000,4.602479e+06,4.800065e+06,75867.000000,75504.000000,101676.000000,455024.000000,1.156318e+06,3.011543e+06